html,body{
    padding: 0;
    margin: 0;
    color: #333;
    font-size: 14px;
    font-family: 'Arial';
    line-height: 20px;
    -moz-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
    -khtml-user-select:none;
    user-select:none;
}

button{
    width: 80px;
    height: 22px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    outline: medium;
}
input[type=text]{
    border: 0;
    outline: medium;
}
a{
    color: #00a190;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

#operation{
    position: fixed;
    top: 0;
    left: 0;
    width: 260px;
    height: 100%;
    padding: 0 20px;
    background-color: #00a190;
    color: #fff;
}
#content{
    padding-left: 300px;
}
#chart3d,#chart2d{
    height: 700px;
    margin-bottom: 50px;
}

#xpre,#xnext,#ypre,#ynext,#zpre,#znext,#sortAsc,#sortDesc{
    color: #333;
    background-color: #fff;
    margin: 0 5px 5px 0;
}
#xpre:hover,#xnext:hover,#ypre:hover,#ynext:hover,#zpre:hover,#znext:hover,#sortAsc:hover,#sortDesc:hover{
    background-color: #ffcc50;
}
#xpre:disabled,#xnext:disabled,#ypre:disabled,#ynext:disabled,#zpre:disabled,#znext:disabled,#sortAsc:disabled,#sortDesc:disabled{
    background-color: #ccc;
    cursor: auto;
}
#btnMergeX,#btnMergeY,#btnMergeZ,#btnSave,#btnCancel{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 99;
    color: #fff;
    background-color: #ffcc50;
}
#btnMergeX:hover,#btnMergeY:hover,#btnMergeZ:hover,#btnSave:hover,#btnCancel:hover{
    background-color: #fc7408;
}
#btnMergeX:disabled,#btnMergeY:disabled,#btnMergeZ:disabled{
    background-color: #ccc;
    cursor: auto;
}
#btnMergeY,#btnSave{
    right: 100px;
}
#btnMergeX{
    right: 190px;
}
#kmeansCheck{
    margin-top: 10px;
}
#kmeansInput{
    width: 170px;
    height: 22px;
    padding: 0 5px;
    border-radius: 5px 0 0 5px;
}
#goCluster{
    width: 80px;
    height: 22px;
    border-radius: 0 5px 5px 0;
    background-color: #ffcc50;
    color: #fff;
}
#goCluster:hover{
    background-color: #fc7408;
}

.rItem{
    position: relative;
    margin: 20px 0;
}
.rDot{
    position: absolute;
    top: -5px;
    left: -5px;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background-color: #ffcc50;
    cursor: pointer;
    z-index: 99;
}
.dMax{
    left: 255px;
}
.rLine{
    width: 100%;
    height: 2px;
    background-color: #fff;
}
.rMax{
    float: right;
}
.rMin,.rMax{
    font-size: 12px;
}
.float{
    position: absolute;
    top: -24px;
    font-size: 12px;
    background-color: rgba(255,255,255,0.4);
    border: 1px solid #fff;
    border-radius: 2px;
    text-align: center;
    width: 80px;
}

#moveDot{
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background-color: #00a190;
    box-shadow: 0 0 10px #00f;
}
#moveInfo{
    position: absolute;
    padding: 0 5px;
    font-size: 12px;
    color: #fff;
    background-color: rgba(0,0,0,0.6);
    border: 1px solid #333;
    border-radius: 2px;
}

/* for cluster css */
#clusterContent{
    width: 100%;
    height: 700px;
}
#clusterInfo{
    width: 100%;
    min-height: 300px;
    margin-top: 30px;
    background-color: #00a190;
    color: #fff;
}
.clusters{
    width: 100%;
    background-color: #fff;
}
.clusters span{
    display: inline-block;
    padding: 5px 12px;
    background-color: #ffcc50;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    margin-left: 2px;
}
.clusters span:hover,.clusters .active{
    background-color: #00a190;
}
.all{
    margin: 10px;
}
#selectInfo{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 200px;
    padding: 0 10px;
    border: 1px solid #00a190;
    border-radius: 5px;
    z-index: 99;
    background-color: rgba(255,255,255,0.8);
}