html,body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background: #00a190;
    color: #fff;
    font-size: 14px;
    font-family: 'Arial';
    line-height: 20px;
    -moz-user-select:none;/*火狐*/
    -webkit-user-select:none;/*webkit浏览器*/
    -ms-user-select:none;/*IE10*/
    -khtml-user-select:none;/*早期浏览器*/
    user-select:none;
}

input[type=text]{
    border: 0;
    outline: medium;
}
select{
    border: 0;
    border-radius: 0;
    outline: medium;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url(../img/triangle-d.png) no-repeat scroll right center transparent;
    padding-right: 14px;
    padding-left: 6px;
}

.main{
    position: absolute;
    width: 600px;
    height: 300px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

#btnUpload,#btnStart{
    width: 300px;
    height: 40px;
    margin-top: 10px;
    border: 0;
    background-color: #ffcc50;
    border-radius: 12px;
    color: #fff;
    cursor: pointer;
}
#btnUpload:hover,#btnStart:hover{
    background-color: #fc7408;
    font-weight: bold;
}

.colname{
    width: 150px;
    height: 20px;
    margin: 0 10px;
    padding: 0 5px;
    color: #333;
    border-radius: 5px;
}
.coltype{
    width: 50px;
    height: 20px;
    margin-right: 10px;
    background-color: #fff;
    color: #333;
    border-radius: 5px;
}

.op{
    width: 20px;
    height: 20px;
    margin-right: 3px;
    border-radius: 10px;
    border: 0;
    background-color: #ff9016;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}
.none{
    background: none;
    cursor: auto;
    color: transparent;
}


/* loading */
.circle{
    width: 117px;
    border: 0;
    margin: auto;
}
.x_r{ width: 15px; }
.x_d1{ width: 1px; }
.x_d2{ width: 20px; }
.y_r{ height: 15px; }
.y_d1{ height: 1px; }
.y_d2{ height: 20px; }
.c{
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: rgba(255,255,255,0.2);
}
@keyframes LOAD{
    0%   {background-color: rgba(255,255,255,0.2);}
    50%  {background-color: rgba(255,255,255,1.0);}
    100% {background-color: rgba(255,255,255,0.2);}
}
@-moz-keyframes LOAD{
    0%   {background-color: rgba(255,255,255,0.2);}
    50%  {background-color: rgba(255,255,255,1.0);}
    100% {background-color: rgba(255,255,255,0.2);}
}
@-webkit-keyframes LOAD{
    0%   {background-color: rgba(255,255,255,0.2);}
    50%  {background-color: rgba(255,255,255,1.0);}
    100% {background-color: rgba(255,255,255,0.2);}
}
@-o-keyframes LOAD{
    0%   {background-color: rgba(255,255,255,0.2);}
    50%  {background-color: rgba(255,255,255,1.0);}
    100% {background-color: rgba(255,255,255,0.2);}
}
#c1{
    animation: LOAD 0.8s ease-in-out 0.1s infinite alternate;
    -moz-animation: LOAD 0.8s ease-in-out 0.1s infinite alternate;
    -webkit-animation: LOAD 0.8s ease-in-out 0.1s infinite alternate;
    -o-animation: LOAD 0.8s ease-in-out 0.1s infinite alternate;
}
#c2{
    animation: LOAD 0.8s ease-in-out 0.2s infinite alternate;
    -moz-animation: LOAD 0.8s ease-in-out 0.2s infinite alternate;
    -webkit-animation: LOAD 0.8s ease-in-out 0.2s infinite alternate;
    -o-animation: LOAD 0.8s ease-in-out 0.2s infinite alternate;
}
#c3{
    animation: LOAD 0.8s ease-in-out 0.3s infinite alternate;
    -moz-animation: LOAD 0.8s ease-in-out 0.3s infinite alternate;
    -webkit-animation: LOAD 0.8s ease-in-out 0.3s infinite alternate;
    -o-animation: LOAD 0.8s ease-in-out 0.3s infinite alternate;
}
#c4{
    animation: LOAD 0.8s ease-in-out 0.4s infinite alternate;
    -moz-animation: LOAD 0.8s ease-in-out 0.4s infinite alternate;
    -webkit-animation: LOAD 0.8s ease-in-out 0.4s infinite alternate;
    -o-animation: LOAD 0.8s ease-in-out 0.4s infinite alternate;
}
#c5{
    animation: LOAD 0.8s ease-in-out 0.5s infinite alternate;
    -moz-animation: LOAD 0.8s ease-in-out 0.5s infinite alternate;
    -webkit-animation: LOAD 0.8s ease-in-out 0.5s infinite alternate;
    -o-animation: LOAD 0.8s ease-in-out 0.5s infinite alternate;
}
#c6{
    animation: LOAD 0.8s ease-in-out 0.6s infinite alternate;
    -moz-animation: LOAD 0.8s ease-in-out 0.6s infinite alternate;
    -webkit-animation: LOAD 0.8s ease-in-out 0.6s infinite alternate;
    -o-animation: LOAD 0.8s ease-in-out 0.6s infinite alternate;
}
#c7{
    animation: LOAD 0.8s ease-in-out 0.7s infinite alternate;
    -moz-animation: LOAD 0.8s ease-in-out 0.7s infinite alternate;
    -webkit-animation: LOAD 0.8s ease-in-out 0.7s infinite alternate;
    -o-animation: LOAD 0.8s ease-in-out 0.7s infinite alternate;
}
#c8{
    animation: LOAD 0.8s ease-in-out 0.8s infinite alternate;
    -moz-animation: LOAD 0.8s ease-in-out 0.8s infinite alternate;
    -webkit-animation: LOAD 0.8s ease-in-out 0.8s infinite alternate;
    -o-animation: LOAD 0.8s ease-in-out 0.8s infinite alternate;
}